html, body, div{padding:0px;margin:0px;}
@font-face {
    font-family: monster;
    src: url(../fonts/mrsmonster.ttf);
}
@font-face {
    font-face: roboto;
    src: url('../fonts/Roboto.ttf');
}
#p1 {
    position:absolute;
    top: 530px;
    left: 40px;
    width: 170px;
    height: 40px;
    font-family: monster;
    font-size: 22px;
    color: white;

}
#p2 {
    position:absolute;
    top:530px;
    left: 1100px;
    width: 170px;
    height: 40px;
    font-family: monster;
    font-size: 22px;
    color: white;

}
#pl-1 {
    position:absolute;
    top:485px;
    left: 40px;
    width: 150px;
    color: blue;
    font-size: 18px;
    font-family: roboto;

}
#pl-2 {
    position:absolute;
    top:485px;
    left: 1100px;
    width: 150px;
    color: red;
    font-size:18px;
    font-family: roboto;
}
#xAnimation {
    position: absolute;
    z-index:2;
    width:140px;
    height:80px;
    opacity: 0;
}
.territory {
    position:absolute;
    left:120px;
}
#editor {
    position: relative;
    width: 80%;
    height: 300px;
    border:1px solid #fff;
    font-size: 15px;
}
#edit-panel {
    position:relative;
    left: 80px;
}

#rooms {
    position: absolute;
    top: -7px;
    left: -7px;
}
.focused{
    margin-top: 5px;
    margin-left: 25px;
}


img {
    width: 1280px;
    height: 600px;
    border-radius: 10px;
}

.darken {
    background: black;
    opacity: 0.4;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

#rooms {
    position: absolute;
    top: -2px;
    left: 17px;
}
.darken {
    background: black;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}
.darken:hover{
    opacity: 0.1;
}
#map{
    position: relative;
}
#map div {
    position: absolute;
}

#d0 {
    top: 203px;
    left: 24px;
    width: 92px;
    height: 62px;
}

#d1 {
    top: 202px;
    left: 120px;
    width: 134px;
    height: 63px;
}

#d2 {
    top: 202px;
    left: 260px;
    width: 116px;
    height: 63px;
}

#d3 {
    top: 202px;
    left: 382px;
    width: 160px;
    height: 63px;

}

#d4 {
    top: 207px;
    left: 549px;
    width: 168px;
    height: 58px;
}

#d5 {
    top: 207px;
    left: 723px;
    width: 150px;
    height: 58px;
}

#d6 {
    top: 207px;
    left: 878px;
    width: 168px;
    height: 58px;
}

#d7 {
    top: 270px;
    left: 24px;
    width: 1022px;
    height: 45px;
}

#d8 {
    top: 323px;
    left: 24px;
    width: 134px;
    height: 35px;
}

#d9 {
    top: 323px;
    left: 164px;
    width: 84px;
    height: 35px;
}

#d10 {
    top: 323px;
    left: 254px;
    width: 76px;
    height: 35px;
}

#d11 {
    top: 323px;
    left: 335px;
    width: 144px;
    height: 70px;
}

#d12 {
    top: 323px;
    left: 485px;
    width: 80px;
    height: 54px;
}

#d13 {
    top: 323px;
    left: 570px;
    width: 155px;
    height: 53px;
}

#d14 {
    top: 323px;
    left: 730px;
    width: 87px;
    height: 53px;
}

#d15 {
    top: 323px;
    left: 823px;
    width: 98px;
    height: 74px;
}

#d16 {
    top: 323px;
    left: 926px;
    width: 121px;
    height: 42px;
}

#d17 {
    top: 211px;
    left: 1053px;
    width: 180px;
    height: 154px;
}

.popup {
    background-image: url("../img/popUp.png") ;
    position: absolute;
    top: 72px;
    left: 195px;
    width: 875px;
    height: 525px;
    border: 3px solid yellow;
    border-radius: 40px;
}

.blurred {
    -webkit-filter: blur(5px)  ;
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);

}
.dark{
    background-color: black;
    opacity: 0.5;
    width: 1280px;
    height: 600px;
    position: absolute;
    top: 0px;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 5px;
    -webkit-filter: blur(5px);
}

.hidden {
    display: none;
}

.question{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 15px 60px;
    border-bottom: 1px solid white;
}
.console{
    display: block;
    width: 650px;
    height: 200px;
    margin: 30px;
    margin-left: 90px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}
textarea{
    resize: none;
    overflow-y: scroll;
}

.btn-compile{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background: rgb(244, 220, 54);
}
.console-response
{
    font-size: 16px;
    width: 570px;
    height: 35px;
    border-radius: 5px;
}
.answer{
    margin-left: 89px;
    position: static;
}
.posAns{
    position: absolute;
    top: 350px;
    left: 75px;
}
.submit{
    border-radius: 5px;
    position: relative;
    left: 370px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}
.posAns .submit{
    left: 300px;
}

/*----------- Monika ----------*/
.question{
    width: 700px;
    overflow-y: auto;
    margin-top: 60px;
    max-height: 250px;
    border: none;
}
#code-compilation-form form .question{
    max-height: 65px;
}
.posAns .submit{
    left: 10px;
}

/* ----------- End game ----------- */
#endgame-popup h1 {
  color: white;
}
