body{
    background: black url('../img/fmi-background.png') no-repeat center 0;
    background-size: 1366px;
}
#logo{
    margin: -5px;
    display: inline-block;
    width: 150px;
}
#name{
    display: inline-block;
    left: 260px;
    position: relative;
    vertical-align: top;
}
form{
    position: absolute;
    top: 260px;
    left: 442px;
    background: url('../img/transperant-background.png') repeat-x;
    width: 500px;
    height: 100px;
    padding-left: 40px;
    padding-top: 35px;
    border-radius: 20px;

}

#username{
    height: 55px;
    width: 320px;
    border-radius: 15px;
    background: rgb(32, 33, 36);
    color: white;
    font-size: 30px;
    padding: 5px;
    outline: none;
}
#btn-join{
    border-radius: 10px;
    background: rgb(32, 33, 36);
    width: 95px;
    height: 55px;
    font-size: 24px;
    font-family: Verdana;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 40px;
    color: white;
}
#btn-text {
    padding-top:12px;
    padding-left: 22px;
}
.users{
    position: absolute;
    top: 370px;
    left: 560px;
    color: yellow;
    font-size: 30px;
}
#number-of-users{
    display: inline-block;
    font-weight: bold;
    font-size: 34px;
    margin-right: 10px;
}
